@model BanqueTardi.Models.Client

@{
    ViewData["Title"] = "Modification du Client";
}

<h1>Modifier</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="Comptes" />
            <input type="hidden" asp-for="NbDecouverts" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" class="form-control" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodePostale" class="control-label"></label>
                <input asp-for="CodePostale" class="form-control" />
                <span asp-validation-for="CodePostale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomParent" class="control-label"></label>
                <input asp-for="NomParent" class="form-control" />
                <span asp-validation-for="NomParent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneParent" class="control-label"></label>
                <input asp-for="TelephoneParent" class="form-control" />
                <span asp-validation-for="TelephoneParent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarde" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Retour à la liste</a>
    <a asp-controller="Clients" asp-action="Gerer" asp-route-id="@Model!.ID">Retour vers Gérer</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
