@{
    ViewData["Title"] = "Calcul des Intérêts";
}

<h2>Calcul des Intérêts</h2>

<p>Ce processus va calculer les intérêts pour tous les comptes bancaires éligibles et mettre à jour la base de données.</p>

<form asp-action="LancerCalculInterets" method="post">
    <button type="submit" class="btn btn-primary">Lancer le Calcul des Intérêts</button>
</form>



