@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p><h1>Toutes modification, altération est interdîte sans l'approbation des auteurs du code.</h1></p>
<p><h2>Auteur : Vincent Marcotte et Nicolas Tremblay</h2></p>
<a asp-action="Index">Retour à la liste</a>